<div class="mainbox">
    {{>main/headerNavbar}}
</div>

<div class="card" style="width: 80%; margin-left: 10%;">
	<div class="row pl-2 ml-0 mr-0">
		<div class="col-4 align-self-center">
      <img src="{{course.img}}" class="detailImage mx-auto d-block">
		</div>
		<div class="col-8">
<article class="card-body pr-5 pt-5 pb-5">
	<h3 class="title mb-3">{{course.name}}</h3>

<p class="price-detail-wrap"> 
	<span class="price h3 text-warning"> 
		<span class="currency">$</span><span class="num">{{course.price}}</span>
	</span> 
</p> <!-- price-detail-wrap .// -->
<dl class="param param-feature">
  <dt>Category</dt>
  <dd style="margin-top: 5px; margin-left: 10px"><a type="button" class="btn btn-primary" href="/smallcatID={{course.idsmall_category}}">{{course.smallcategory}}</a></dd>
</dl>
<dl class="item-property">
  <dt>Summary</dt>
  <dd><p>{{course.description1}}</p></dd>
</dl>

<dl class="param param-feature">
  <dt>Rating</dt>
  <dd>
    <div class="row">
    <div class="col-2">
    <div class="star-rating">
        <span class="fas fa-star" data-rating="1"></span>
        <span class="fas fa-star" data-rating="2"></span>
        <span class="fas fa-star" data-rating="3"></span>
        <span class="fas fa-star" data-rating="4"></span>
        <span class="fas fa-star" data-rating="5"></span>
        <input type="hidden" id="rating" class="rating-value" value="{{course.rate}}">
      </div>
    </div>
    <div class="col-10">
        <i class="fas fa-user"></i> {{course.ratevotes}}
    </div>
    </div>
    <div class="row">
    <div class="col-1" style="padding-left: 20px">
        {{course.rate}}
    </div>
    <div class="col-11">
        <i>Already have {{course.subscribes}} users assign this course</i>
    </div>
    </div> </dd>
</dl>  <!-- item-property-hor .// -->
<dl class="param param-feature">
  <dt>Last Update</dt>
  <dd>{{course.lastupdate}}</dd>
</dl>  <!-- item-property-hor .// -->

<hr>
	<div class="item-property">
		<dt>Feedbacks</dt>
	</div> <!-- row.// -->
	<hr>
	<a href="#" class="btn btn-lg btn-primary text-uppercase"> Subscribe </a>
	<a href="#" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-heart"></i> Add to favorites </a>
</article> <!-- card-body.// -->
		</div> <!-- col.// -->
	</div> <!-- row.// -->
  <hr style="margin-top: 0">
  <dl class="item-property" style="margin: 1vh 2% 1vh 2%">
  <dt><h2>Description</h2></dt>
  <dd><div id="description2">{{course.description2}}</div>
  </dd>
</dl>
  <hr style="margin-top: 0">
<dl class="param param-feature" style="margin: 1vh 2% 1vh 2%">
  <dt><h2>Documents</h2></dt>
  <dd>
    <div class="row m-3 border-bottom border-primary" id="accordion">
    <div class="col-3 border border-primary border-bottom-0 rounded-top">
    <a  role="button" class="btn btn-link" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
    Preview Tutorial Document
    </a>
    </div>
    <div class="col-3 border border-primary border-bottom-0 rounded-top">
    <a  role="button" class="btn btn-link collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
    Preview Tutorial Document
    </a>
    </div>
    </div>
    <div class="collapse" id="collapseOne" data-parent="#accordion">
      <embed src="{{course.slidepreview}}" width="800px" height="800px" class="mx-auto d-block" />
    </div>
    <div class="collapse" id="collapseTwo" data-parent="#accordion">
      <embed src="{{course.slidepreview}}" width="800px" height="800px" class="mx-auto d-block" />
    </div>
  </dd>
</dl>  <!-- item-property-hor .// -->
</div> <!-- card.// -->
<div class="rating"><input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
    </div>

</div>
<div class="mainbox">
    {{>main/footer}}
</div>
<script>
    function rate(){
    let string = document.getElementById('description2').innerText;
    document.getElementById('description2').innerHTML = string;
    let ratings = document.getElementsByClassName('fas fa-star');
    let rate = document.getElementById('rating').value;
    for (let i = 1; i < ratings.length+1; i++){
    if (i <= rate)
        ratings[i-1].style.color = "rgb(226, 226, 21)";}}
        
    window.onload = rate;
</script>