<div class="mainbox">
    {{>main/headerNavbar}}
</div>

<div class="card" style="width: 80%; margin-left: 10%;">
	<div class="row pl-2 ml-0 mr-0">
		<div class="col-4 align-self-center">
      <img src="{{course.img}}" class="detailImage mx-auto d-block">
		</div>
		<div class="col-8">
<article class="card-body pr-5 pt-5 pb-5">
	<h3 class="title mb-3">{{course.name}}</h3>

<p class="price-detail-wrap"> 
	<span class="price h3 text-warning"> 
		<span class="currency">$</span><span class="num">{{course.price}}</span>
	</span> 
</p> <!-- price-detail-wrap .// -->
<dl class="param param-feature">
  <dt>Category</dt>
  <dd style="margin-top: 5px; margin-left: 10px"><a type="button" class="btn btn-primary" href="/smallcatID={{course.idsmall_category}}">{{smallcategory}}</a></dd>
</dl>
<dl class="item-property">
  <dt>Summary</dt>
  <dd><p>{{course.description1}}</p></dd>
</dl>

<dl class="param param-feature">
  <dt>Rating</dt>
  <dd>
    <div class="row">
    <div class="col-2">
    <div class="star-rating">
        <span class="fas fa-star" data-rating="1"></span>
        <span class="fas fa-star" data-rating="2"></span>
        <span class="fas fa-star" data-rating="3"></span>
        <span class="fas fa-star" data-rating="4"></span>
        <span class="fas fa-star" data-rating="5"></span>
        <input type="hidden" id="rating" class="rating-value" value="{{course.rate}}">
      </div>
    </div>
    <div class="col-10">
        <i class="fas fa-user"></i> {{course.ratevotes}}
    </div>
    </div>
    <div class="row">
    <div class="col-1" style="padding-left: 20px">
        {{course.rate}}
    </div>
    <div class="col-11">
        <i>Already have {{course.subscribes}} users assign this course</i>
    </div>
    </div> </dd>
</dl>  <!-- item-property-hor .// -->
<dl class="param param-feature">
  <dt>Last Update</dt>
  <dd>{{course.lastupdate}}</dd>
</dl>  <!-- item-property-hor .// -->

<hr>
	<div class="item-property">
		<dt>Feedbacks</dt>
	</div> <!-- row.// -->
	<hr>
  <div class="row">
  {{#if_eq type 2}}
	<a href="#" type="submit" class="btn btn-lg btn-primary text-uppercase"> Add Lessons </a>
  {{else}}
  {{#if isEnroll}}
  <a role="button"  type="submit" class="btn btn-lg btn-primary text-uppercase"> View Lessons </a>
  {{else}}
  <form method="POST" action="/user/addEnrolled/idcourses={{course.idcourses}}"><button type="submit" class="btn btn-lg btn-primary text-uppercase"> Enroll </button></form>
  {{/if}}
	<form method="POST" action="/user/addFavorite/idcourses={{course.idcourses}}"><button type="submit" class="btn btn-lg btn-outline-primary text-uppercase  ml-2" {{#if isFavor}}disabled{{/if}}> <i class="fas fa-heart"></i> Add to favorites </button></form>
  {{/if_eq}}
  </div>
</article> <!-- card-body.// -->
		</div> <!-- col.// -->
	</div> <!-- row.// -->
  <hr style="margin-top: 0">
  <dl class="item-property" style="margin: 1vh 2% 1vh 2%">
  <dt><h2>Description</h2></dt>
  <dd><div id="description2">{{course.description2}}</div>
  </dd>
</dl>
  <hr style="margin-top: 0">
<dl class="param param-feature" style="margin: 1vh 2% 1vh 2%">
  <dt><h2>Instructors</h2></dt>
  <dd>
    <div class="col-6 mx-auto">
      <h3 style="color:dodgerblue">{{teacher.firstname}} {{teacher.lastname}}</h3>
      <p>Email: {{teacher.email}}</p>
      <p>Occupation: {{teacher.workplace}}</p>
      <p>Overview: {{teacher.overview}}</p>
    </div>
  </dd>
</dl>  <!-- item-property-hor .// -->
  <hr style="margin-top: 0">
<dl class="param param-feature" style="margin: 1vh 2% 1vh 2%">
  <dt><h2>Documents</h2></dt>
  <dd>
    <div class="row m-3 border-bottom border-primary pl-4 accordion" id="accordion">
    <div class="col-auto p-0 mr-1 collapsed">
    <a class="btn btn-link rounded-0 noshadow" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
    Preview Tutorial Document 1
    </a>
    </div>
    <div class="col-auto p-0 mr-1  collapsed">
    <a class="btn btn-link rounded-0 noshadow" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
    Preview Video
    </a>
    </div>
    </div>
    <div class="collapse show" id="collapseOne" data-parent="#accordion">
      <embed src="{{course.slidepreview}}" width="800px" height="800px" class="mx-auto d-block" />
    </div>
    <div class="collapse" id="collapseTwo" data-parent="#accordion">
      <div class="row">
      <div class="col-8 mx-auto d-block">
      <video id="my-video" class="video-js" controls preload="auto" width="1000" height="563" data-setup="{}">
    <source src="{{course.previewvideo}}" type="video/mp4" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>
      </div></div>
    </div>
  </dd>
</dl>
</div> <!-- card.// -->
</div>
<div class="mainbox">
    {{>main/footer}}
</div>
<script src="/js/rate.js"></script>